modules/extensions-spring-support/src/test/resources/values/some-parameter-group-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:some="http://www.mulesoft.org/schema/mule/some"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/some http://www.mulesoft.org/schema/mule/some/current/mule-some.xsd">

    <flow name="dslTrueSomeParameter">
        <some:one-required-parameter-resolver-operation-dsl-true >
            <some:awesome-parameter-group someParameter="hello dog!"/>
        </some:one-required-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueComplexParameter">
        <some:one-required-parameter-resolver-operation-dsl-true >
            <some:awesome-parameter-group>
                <some:complex-parameter anotherParameter="hello bird!"/>
            </some:awesome-parameter-group>
        </some:one-required-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueSomeParameterDynamic">
        <some:one-required-parameter-resolver-operation-dsl-true >
            <some:awesome-parameter-group someParameter="#[vars.someParameter]"/>
        </some:one-required-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueComplexParameterDynamic">
        <some:one-required-parameter-resolver-operation-dsl-true >
            <some:awesome-parameter-group>
                <some:complex-parameter anotherParameter="#[vars.anotherParameter]"/>
            </some:awesome-parameter-group>
        </some:one-required-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="someParameter">
        <some:one-required-parameter-resolver-operation someParameter="hello dog!" />
    </flow>

    <flow name="complexParameter">
        <some:one-required-parameter-resolver-operation>
            <some:complex-parameter anotherParameter="hello bird!"/>
        </some:one-required-parameter-resolver-operation>
    </flow>

    <flow name="someParameterDynamic">
        <some:one-required-parameter-resolver-operation someParameter="#[vars.someParameter]" />
    </flow>

    <flow name="complexParameterDynamic">
        <some:one-required-parameter-resolver-operation>
            <some:complex-parameter anotherParameter="#[vars.anotherParameter]"/>
        </some:one-required-parameter-resolver-operation>
    </flow>

    <flow name="dslTrueSomeParameterAlias">
        <some:one-required-aliased-parameter-resolver-operation-dsl-true >
            <some:aliased-parameter-group some-parameter-alias="hello dog!"/>
        </some:one-required-aliased-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueComplexParameterAlias">
        <some:one-required-aliased-parameter-resolver-operation-dsl-true >
            <some:aliased-parameter-group>
                <some:complex-parameter-alias another-parameter-alias="hello bird!" yet-another-parameter-alias="whatever"/>
            </some:aliased-parameter-group>
        </some:one-required-aliased-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueSomeParameterAliasDynamic">
        <some:one-required-aliased-parameter-resolver-operation-dsl-true >
            <some:aliased-parameter-group some-parameter-alias="#[vars.someParameter]"/>
        </some:one-required-aliased-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="dslTrueComplexParameterAliasDynamic">
        <some:one-required-aliased-parameter-resolver-operation-dsl-true >
            <some:aliased-parameter-group>
                <some:complex-parameter-alias another-parameter-alias="#[vars.anotherParameter]"/>
            </some:aliased-parameter-group>
        </some:one-required-aliased-parameter-resolver-operation-dsl-true>
    </flow>

    <flow name="someParameterAlias">
        <some:one-required-aliased-parameter-resolver-operation some-parameter-alias="hello dog!" />
    </flow>

    <flow name="complexParameterAlias">
        <some:one-required-aliased-parameter-resolver-operation>
            <some:complex-parameter-alias another-parameter-alias="hello bird!"/>
        </some:one-required-aliased-parameter-resolver-operation>
    </flow>

    <flow name="someParameterAliasDynamic">
        <some:one-required-aliased-parameter-resolver-operation some-parameter-alias="#[vars.someParameter]" />
    </flow>

    <flow name="complexParameterAliasDynamic">
        <some:one-required-aliased-parameter-resolver-operation>
            <some:complex-parameter-alias another-parameter-alias="#[vars.anotherParameter]" yet-another-parameter-alias="#['whatever']"/>
        </some:one-required-aliased-parameter-resolver-operation>
    </flow>

</mule>
